	
		body {
			background-color: purple;
			margin: 25px;
			color: white;
		}
			h2 {
				font-family:sans-serif;
			}
			h1{
				border:solid;
				border-color:pink;
			}
			h3 {
				border: solid;
			}
			img {
				height: 400px;
				width:400px;
			}
			
			ul 	{
				border:5px solid white;
				
				}
				
				
			
			
			
			
		
